# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# --- Environnement Virtuel ---
.venv/
venv/
ENV/
.env/
Synthea/
synthea/

# --- Données (EDS) ---
# On ne pousse pas les fichiers de données massifs ou sensibles
data/
*.parquet
*.csv
*.json
*.zip
*.db


# But keep the FHIR ↔ EDS mapping
!app/core/converters/mapping.json

# Exception : on veut garder le dossier fhir source de Synthea vide ou avec un exemple
# Mais idéalement, les sorties de Synthea ne doivent pas être sur Git
output/

# --- IDE (VS Code / PyCharm) ---
.vscode/
.idea/

# --- OS ---
.DS_Store
Thumbs.db

#variables d'environnement
.env
.env.*

# Java / Maven
target/
*.jar
*.war

*.class

